*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #8d8989;
}
h2{
    color: white;
    height: 50px;
    background-color: rgb(49, 4, 4);
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    margin-top: -30px;
}
.container{
    width: 600px;
    border-radius: 10px;
    /* background-color: lightcyan; */
    background-color: rgb(59, 55, 55);
    margin: auto;
    margin-top: 50px;
    padding: 30px 0px;
    margin-right: 900px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgb(117, 115, 115);
}

.form{
    padding: 20px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form input{
    width: 400px;
    height: 30px;
    font-size: 14px;
    outline: 0;
}
.form textarea{
    width: 400px;
    height: 100px;
    outline: 0;
}

.form button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-right: 100px;
    font-size: 17px;
    background-color: skyblue;
    color: white;
}